<div class="list-container" *ngIf="!isNovoCliente">
    <h1>Clientes</h1>
    <span *ngIf="clientes.length === 0">Nenhum cliente cadastrado.</span>
    <table mat-table [dataSource]="clientes" *ngIf="clientes.length > 0">
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let cliente">{{ cliente.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let cliente">
                <button mat-icon-button aria-label="Editar cliente" (click)="editaCadastro(cliente)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="Excluir cliente" (click)="deletaCadastro(cliente)">
                    <mat-icon>close</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunas"></tr>
        <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>
    <button mat-raised-button color="primary" (click)="iniciaCadastro()">Novo Cliente</button>
</div>
<div class="form-container" *ngIf="isNovoCliente">
    <form [formGroup]="formCliente">
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome">
        </mat-form-field>
        <mat-form-field>
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpf" mask="000.000.000-00">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Data de Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dataNascimento">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="button-group">
            <button mat-raised-button color="primary" (click)="salvarCliente()">Concluir</button>
            <button mat-raised-button (click)="isNovoCliente = false; isEditaCliente = false;">Voltar</button>
        </div>
    </form>
</div>
