.list-container {
    display: flex;
    flex-direction: column;
}
.form-container > form {
    display: flex;
    flex-direction: column;
}
.button-group > button {
    width: 150px;
    margin: 0 5px;
}